*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    padding-left: 30px;
}

.navlink{
    width: 50%;
}

.navlink ul{
    display: flex;
    justify-content: space-evenly;
}

.navlink ul{
    list-style: none;
}



